body {
    
font-size: 18px;
color: #8e44ad;
line-height: 1.8;
font-family: Verdana;
font-weight:100;
font-style: normal; 
background-color: #A29C9C;
margin: 0 auto; 
max-width: 650px;
} 

.container h1 {

font-size: 18px;
color: #8e44ad;
line-height: 1.8;
font-family: Georgia;
font-weight:200;
font-style: normal;   
background-color: #FFFFFF;
    
}

.container h2 {
   
    font-size: 18px;
color: #8e44ad;
line-height: 1.8;
font-family: Tahoma;
font-weight:300;
font-style: normal;   
background-color: #FFFFFF;
    
}

.container h3 {
    
    font-size: 18px;
color: #8e44ad;
line-height: 1.8;
font-family: Helvetica;
font-weight:400;
font-style: normal; 
background-color: #FFFFFF;
    
}

p {
    font-size: 18px;
color: #8e44ad;
line-height: 1.8;
font-family: Baskerville;
font-weight:500;
font-style: normal;   
margin-bottom: 1.3em;
background-color: #FFFFFF;
    
}

a:visited {
    
    color: background-color: #060910;
}
